//colors

$Strong-orange:#F16718;
$Light-orange:#FF9B62;
$Very-dark-blue:#162542;
$Gray:#7B8BAD;
$Light-gray:#E8EFF2;
$White:#fff;

//ui

$background-body:$White;
$background-button-primary:$Strong-orange;
$background-button-primary-hover:$Light-orange;
$background-button-secondary: $Light-gray;
$background-button-secondary-hover:$Very-dark-blue;
$background-icon:$Strong-orange;
$background-image-accent:$Strong-orange;

$color-heading:$Very-dark-blue;
$color-link-nav:$Very-dark-blue;
$color-link-nav-hover:$White;
$color-body-main:$Gray;

